@model ApplicatinUsers

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Delete Employee</h2>
    </div>

    <form method="post" asp-action="DeleteEmp">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name"> Name</label>
                <input type="text" class="form-control mb-3" asp-for="Name" disabled>
                <span asp-validation-for="Name" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="email">Email</label>
                <input type="text" class="form-control mb-3" asp-for="email" disabled>
                <span asp-validation-for="email" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Roles">Roles</label>
                <input type="text" class="form-control mb-3" asp-for="Roles" disabled>
                <span asp-validation-for="Roles" class=" alert-danger"></span>
            </div>
          
        </div>
         

        <button type="submit" class="btn btn-lg btn-danger p-2"><i class="bi bi-trash-fill"></i>Delete</button>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}