@{
    ViewData["Title"] = "Home Page";
}

 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business</h1>
          <h2>We are team of talented software engineers making websites, applications with latest technologies</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <p class="offers">Go online with your business ! &nbsp;</p>&nbsp;&nbsp;
            <p class="offer"><span><b>Starts with just 2000&nbsp;&nbsp;<sub>&#8377</sub></b></span></p><br />
            
          </div>
          <div class="row">
              <div class="col-lg-6"> 
                   <a href="#pricing" class="btn-get-started scrollto">Click here for Pricing Details</a>
              </div>
          </div>
           
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
         
            <img src="~/img/hero-img.png" class="img-fluid animated" alt="">

        </div>
      </div>
    </div>

  </section><!-- End Hero -->

   <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
         @* <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Website Development</a></h4>
              <p>We develop websites for any shop and for your E-commerce business</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Mobile App Development</a></h4>
              <p>Mobile applications helps in faster growth of business</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Digital Marketing</a></h4>
              <p>Throgh digital marketing you can target and sell your products in more convenient ways</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">SEO</a></h4>
              <p>Our SEO optimization specialization helps to make your site in top list</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


   <!-- ======= Team Section ======= -->
   @* <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/team/mm.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mankeshwar Vishwakarma</h4>
                <span>Software Engineer</span>
                <p>4+ years of experience in Software development</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sachin Chauhan</h4>
                <span>Software Engineer</span>
                <p>4+ years of experience in Software development</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Arjun Sable</h4>
                <span>Software Engineer</span>
                <p>4+ years of experience in Software development</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Vipin Singh</h4>
                <span>Software Engineer</span>
                <p>4+ years of experience in Software development</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>*@
    
    <!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Hurry Up ! this offer is only for few days only</p>
       
     </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Navratri special offer</h3>
              <h4><sup>&#8377</sup>2000<span>Special offer</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Static website</li>
                <li><i class="bx bx-check"></i> Free logo</li>
                <li><i class="bx bx-check"></i> 2 to 3 pages</li>
                <li><i class="bx bx-check"></i> Responsive Design</li>
                <li class="na"><i class="bx bx-x"></i> <span>Dynamic</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>6 month Fee support</span></li>
             <li class="na"><i class="bx bx-x"></i> <span>hosting</span></li>
              </ul>
          
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Navratri special offer</h3>
              <h4><sup>&#8377</sup>5000<span>Website only</span></h4>
                <ul>
                <li><i class="bx bx-check"></i> Fully responsive website</li>
                <li><i class="bx bx-check"></i> Free logo</li>
                <li><i class="bx bx-check"></i> 5 to 7 pages</li>
                <li><i class="bx bx-check"></i> 1 year Fee Maintenance</li>
                <li><i class="bx bx-check"></i>Social media integration</li>
                 <li><i class="bx bx-check"></i>Easy SEO Friendly</li>
                  <li><i class="bx bx-check"></i> <span>hosting</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Dynamic</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Change in site</span></li>
               
              </ul>
             
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Navratri special offer</h3>
              <h4><sup>&#8377</sup>15000<span>Website + Mobile App</span></h4>
             <ul>
                 <li><i class="bx bx-check"></i>Andriod App</li>
               <li><i class="bx bx-check"></i>Admin Pannel</li> 
                <li><i class="bx bx-check"></i> Fully responsive website</li>
                <li><i class="bx bx-check"></i> Free logo</li>
                <li><i class="bx bx-check"></i> 10 to 15 pages</li>
                <li><i class="bx bx-check"></i> 1 year free Maintenance</li>
                <li><i class="bx bx-check"></i>Social media integration</li>
                 <li><i class="bx bx-check"></i>Easy SEO Friendly</li>
               <li><i class="bx bx-check"></i>Live chat</li>
               <li><i class="bx bx-check"></i>Google map</li>
              </ul>
            
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->


   <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>For any enquiry feel free to ontact us at any time , just give s Missed call</p>
       
    </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Sathiaon ,Ward no 8, Fazilnagar Kushinagar Up- 274401</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>mrv8693@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>9172802123</p>
              </div>
            
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223.13877197560265!2d84.04448415892561!3d26.676902553885057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399396269674d563%3A0x63ca87be4c2dab98!2sPanchayat%20Bhawan!5e0!3m2!1sen!2sin!4v1663319902908!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          
         </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="contact">Contact</label>
                <input type="number" class="form-control" name="contact" id="contact" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" id="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
               <div><p id="failed"></p></div>
              
              </div>
              <div class="text-center"><button id="btnsubmit" class="btn btn-primary" type="button">Send Message</button></div>
             <div><p id="success"></p></div>
          </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

       @section scripts{
        <script>
        
           $(document).ready(function () {   
        $("#btnsubmit").click(function (e) {   
            
            var valdata = {
            name:$("#name").val(),
             email:$("#email").val(),
              contact:$("#contact").val(),
              message:$("#message").val()
            } ;
            
            $.ajax({   
                url: "/Home/SendMessage",   
                type: "POST",   
                dataType: 'json',   
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',   
                data: valdata,
                success: function (response) {
                 // alert(response);
               $("#success").text(response);
                }
        
            });   
        });   
    });   
        </script>
       
    }

